/* Universal Selectors */
* {
    margin: 0;
}

nav {
    background-color: #746ab0;
    height: 50px;
}

img {
    width: 100%;
}

p {
    font-size: 30px;
    color: white;
}

/*Class*/
.container {
    height: 1300px;
    width: 100%;
    background-image: url("https://cdn.pixabay.com/photo/2018/03/07/17/20/snow-3206547_1280.jpg");
    background-size: cover;
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;


}



.hook {
    margin: 50px;
    padding: 20px;
    width: 25%;
    background-color: rgba(0, 0, 0, 0.5);
}

.button {
    margin: 10px 50px;
    height: 80px;
    width: 150px;
    background-color: black;
    color: white;
    font-size: 20px;
}